//Navbar

.nav{
    padding: 1rem;
    height: 10vh;
    display: flex;
    justify-content: flex-start;

    &_list{
        text-align: center;
    }

    &_item{
        display: inline;
        padding: 1rem;
    }

    &_link{
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $font-family;
        cursor: pointer;
        @include transition(0.5s);

        &:hover{
            color:#ffeb3b;
        }

        &:active{
            color:$secondary-color
        }
    }
}