@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-style a, .middle a, footer.vertical .social-icons a, footer.horizontal a {
  padding: 0.4rem;
  transition: all 1s ease-in-out;
}
.link-style a:hover, .middle a:hover, footer.vertical .social-icons a:hover, footer.horizontal a:hover {
  color: #4caf50;
}

footer.horizontal {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}

footer.vertical {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem;
  margin-bottom: 1rem;
}
footer.vertical .social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
}
footer.vertical .copyright {
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.middle {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.nav {
  padding: 1rem;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
}
.nav_list {
  text-align: center;
}
.nav_item {
  display: inline;
  padding: 1rem;
}
.nav_link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Ubuntu Sans", sans-serif;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.nav_link:hover {
  color: #ffeb3b;
}
.nav_link:active {
  color: #4caf50;
}

.about-bgImg-container {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-bgImg-container .about_bio_image {
  text-align: center;
  padding: 2rem;
}
.about-bgImg-container .about_bio_image h2 {
  font-size: 3rem;
  color: #4caf50;
}
.about-bgImg-container .about_bio_image p {
  font-size: 1.2rem;
  margin: 2rem;
}

.about_container {
  width: 50vw;
  margin: 2rem auto;
}
.about .about_job {
  margin: 1rem;
  background: rgb(64.5, 64.5, 64.5);
  padding: 1rem;
  border-left: 5px solid #4caf50;
}
.about .about_job:nth-of-type(odd) {
  margin-left: 3rem;
}
.about .about_job:nth-of-type(even) {
  margin-right: 3rem;
}
.about h2, .about h3 {
  margin: 0.5rem 0;
}
.about h6 {
  margin: 0.3rem 0;
  color: #4caf50;
}

.home-bgImg-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-position: center center;
  background-size: cover;
}

.home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
}
.home_name {
  font-size: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #4caf50;
}
.home_name_last {
  color: #4caf50;
  font-weight: 900;
}
.home h2 {
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 0;
  font-weight: 300;
}

.projects-bgImg-container {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.projects-bgImg-container .projects_bio_image {
  text-align: center;
  padding: 2rem;
}
.projects-bgImg-container .projects_bio_image h2 {
  font-size: 3rem;
  color: #4caf50;
}
.projects-bgImg-container .projects_bio_image p {
  font-size: 1.2rem;
  margin: 2rem;
}

.projects_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 2rem;
}
.projects_item {
  cursor: pointer;
  width: calc(33.33% - 2rem);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s, box-shadow 0.4s;
}
.projects_item img {
  display: block;
  height: auto;
  width: 100%;
}
.projects_item::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(76, 175, 80, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}
.projects_item:hover {
  transform: scale(1.05);
}
.projects_item:hover::after {
  opacity: 1;
}

.contact-bgImg-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-position: center center;
  background-size: cover;
}
.contact-bgImg-container nav {
  height: 40vh;
}

.contact {
  height: 40vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  flex-wrap: wrap;
}
.contact .text-secondary {
  color: #4caf50;
}

body {
  height: 100vh;
  font-family: "Ubuntu Sans", sans-serif;
  color: #e0e0e0;
  background-color: #272727;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

h1, h2, h3 {
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */