// Colors

$text-color: #e0e0e0;
$primary-color: #272727;
$secondary-color:#4caf50;

//Font

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

$font-family:"Ubuntu Sans", sans-serif;


//BackGround

$main-bgImage-path:"../img/model-1.jpg";